*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

a:hover{
    text-decoration: underline;
}

#navbar{
    background-color: #0f1111 ;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box 1 of navbar */
.logo{
    background-image: url("logo1.png");
    height: 33px;
    width: 108px;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav_logo{
    height: 40px;
    width: 120px;
    margin: 14px;
    padding-top: 5px;
    padding-left: 5px;

}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box 2 of navbar */
.nav_address{
    padding-left: 10px;
    padding-right: 10px;
}
#navadd_1{
    color: #cccccc;
    font-size: 0.82rem;
    padding-left: 15px;
    padding-top: 4px;
}
#navadd_2{
    color: #ffffff;
    font-size: 0.95rem;
    padding-left: 3px;
}
.add_icon{
    display: flex;
    padding-bottom: 7px;
}

/* box 3 of navbar */

.nav_search{
    display: flex;
    background-color: pink;
    width:700px ;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;

}
.nav_search :hover{
    border: 2px solid orange;
}
.search_select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    width: 55px;
    text-align: center;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem ;
    border: none;
}
.search_icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(249, 190, 74);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* box 4, 5 of navbar */
.nav_1{
    font-size: 0.82rem;
}
.nav_2{
    font-size: 0.95rem;
    font-weight: 700;
}
.boxx{
    padding: 7px;
}


/* box 6 of navbar */
.nav_cart i{
    font-size: 35px;
}
.nav_cart{
    font-size: 0.95rem;
    font-weight: 700;
}

/* panel */
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;

}
.panel_option p{
    display: inline;
    margin-left: 15px;
}
.panel_option{
    width: 65%;
}

/* hero section */
.hero_section{
    background-image: url("hero.jpeg");
    height: 400px;
    background-size: cover;
}

/* shop section  */
.shop_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #C6BEEC;
}
.box{
    height: 375px;
    /* border: 2px solid black; */
    width: 21%;
    background-color: white;
    padding: 20px 1rem 15px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.box_img{
    height: 275px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.box p{
    margin-bottom: 1.8rem;
    color: #007185;
}
.miniTV{
    background-image: url("Amazon mini.jpeg");
    background-size: cover;
    height: 290px;
    width: 80%;
    margin-bottom: 1.3rem;
    margin-top: .5rem;
}

/* footer */
.footer{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.f_panel1{
    background-color: #374758;
    color: white;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 15px; */
    font-size:13px ;
}

.f_panel2{
    background-color: #222f3d;
    color:white ;
    height: 300px;
    display: flex;
    justify-content: space-evenly ;
    padding-top: 40px;
    font-weight: 700;
    /* font-family: Arial, Helvetica, sans-serif; */
}

ul a{
    display: block;
    font-size: 14px;
    color: #DDDDDD;
    margin-top: 13px;
    font-weight: 500;
}

.f_panel3{
    background-color: #222f3d;
    color:white ;
    border-top: 0.1px #374758 solid;
    height: 68px;
    padding: 40px;
}
 .f_logo{
    height: 23px;
    width: 76px;
    background-image: url("Footer_logo.jpeg");
    background-size: cover;
    margin-right: 50px;
 }
.f_panel_3A{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_panel_3A p{
    margin-left: 40px;
    font-size: 14px;
    color: #cccccc;
    padding: 8px 28px 8px 28px;
    border: 0.5px solid #999999;
    border-radius: 5%;
}

.f_panel_3B{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 14px;
    /* width: 60%; */
    /* align-content: center; */
    /* align-self: center; */
}

.f_panel_3B a{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 13px;
    color: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.f_panel4{
    display: flex;
    background-color: #0f1111;
    color: #DDDDDD;
    align-items:center ;
    height: 76px;
    justify-content: center;
    flex-wrap: wrap;
}
.f_panel4 p{
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
}


